doctype 5
include world

html
    head: title Hello from flask
         {{ stylesheet_tag('app_css') | safe }}
         {{ javascript_tag('app_js') | safe }}
    body
        img(src="{{ asset_url_for('images/flask.png') }}")
        if name
            h1(class="red") Hello #{ name|capitalize }
            span.description #{name|capitalize} is a great name!
        else
            h1 Hello
            +world